body {
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    background-image: url(/img/mountain.jpg);
    background-size: cover;
    background-color: #D7DAD1;
}

header {
    width: 100%;
    background-color: #F85874;
    color: white;
    text-shadow: 2px 2px #5F5E63;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10pt;
    padding-bottom: 5pt;
}

h1 {
    margin: auto;
    font-weight: bold;
}

.space {
    height: 5px;
}

.h2 {
    width: 70%;
    background-color: #5F5E63;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 2px 2px #F85874;
    text-align: center;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-right: 15px solid #262626;
    margin: 0 auto 0;
}

h2 {
    margin: 0%;
    padding-top: 10px;
    padding-bottom: 5px;
}


.top {
    width: 98%;
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-right: 30px solid #FF1200;
    border-top: 30px solid #F85874;
    border-left: 30px solid #F85874;
    border-bottom: 30px solid #F85874; 
    margin: auto;  
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.display-image{
    display: flex;
    justify-content: center;
}

.display-image img{
    width: 55%;
    margin-top: 20px;
}

.display-text {
    width: 85%;
    align-self: center;
}

.middle {
    width: 60%;
    height: 15px;
    
    margin: auto;
    border-right: 15px solid #6A9D52;
}

.bottom {
    width: 98%;
    height: 300px;
    background-color: #B8DCF9;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-right: 30px solid #FF1200;
    border-top: 30px solid #F85874;
    border-left: 30px solid #F85874;
    border-bottom: 30px solid #FF1200; 
    margin: auto;  
}

h3 {
    text-align: center;
    margin: 0;
    padding-top: 5px;
}

.release-button {
    width: 100%;
}

.btn,
.btn:focus {
    background-color: #F85874;
    color: white;
    border-radius: 30px;
    width: 150px;
    font-size: 1.5rem;
}

.btn:hover {
    background-color: #FF1200;
    color: white;
    transition-duration: 0.5s
}

button {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.pokemon {
    width: 100%;
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    border-radius: 40px;
    margin: auto;  
}

.panel {
    display: flex;
    justify-content: center;
}

#list {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 5px;
}

.pokecontainer img {
    display: flex;
    width: 100%;
}
    
.pokecontainer img:hover { 
    transform: scale(1.2); 
    }

.pokecontainer {
    align-self: flex-end;
}

.pokecontainer li {
    list-style: none;
    text-align: center;
    text-transform: capitalize;
}

@media only screen and (min-width: 980px) {
    .wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    #list {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-gap: 5px;
    }
}

@media only screen and (min-width: 1320px) {
    .wrapper {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media only screen and (min-width: 1500px) {
    .wrapper{
        padding-left: 15%;
        padding-right: 20%;
    }
}

@media only screen and (max-width: 980px) {
    #list {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 5px;
    }

    .btn {
    width: 150px;
    font-size: 1.25rem;
    padding-top: 10px;
    padding-bottom: 10px;
    }

    .pokecontainer {
        max-width: 80%;
    }

    .pokecontainer li {
        font-size: 1rem;
    }
}
