body {
    margin: auto;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    background-image: url(/img/mountain.jpg);
    background-size: cover;
    background-color: #D7DAD1;


}

header {
    width: 100%;
    background-color: #F85874;
    color: white;
    text-shadow: 2px 2px #5F5E63;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10pt;
    padding-bottom: 5pt;
}

h1 {
    margin: auto;
}

.space {
    height: 5px;
}

.h2 {
    width: 70%;
    background-color: #5F5E63;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 2px 2px #F85874;
    text-align: center;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-right: 15px solid #262626;
    margin: 0 auto 0;
}

h2 {
    margin: 0%;
    padding-top: 10px;
    padding-bottom: 5px;
}


.top {
    width: 98%;
    background-color: #B8DCF9;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-right: 30px solid #FF1200;
    border-top: 30px solid #F85874;
    border-left: 30px solid #F85874;
    border-bottom: 30px solid #F85874; 
    margin: auto;  
}


.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.display-image {
    width: 85%;
    height: 150px;
    background-color: white;
    margin-top: 20px;
    align-self: center;
}

.display-text {
    width: 85%;
    align-self: center;
}

.middle {
    width: 60%;
    height: 15px;
    background-color: #89C66B;
    margin: auto;
    border-right: 15px solid #6A9D52;
}

.bottom {
    width: 98%;
    height: 300px;
    background-color: #B8DCF9;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-right: 30px solid #FF1200;
    border-top: 30px solid #F85874;
    border-left: 30px solid #F85874;
    border-bottom: 30px solid #FF1200; 
    margin: auto;  
}



h3 {
    text-align: center;
    margin: 0;
    padding-top: 5px;
}

.release-button {
    width: 100%;
}

.btn {
    margin: auto;
}



footer {
    width: 100%;
    background-color: #F85874;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding-top: 5pt;
    padding-bottom: 5pt;
}

footer p {
    margin: auto;
}

.btn {
    background-color: #5F5E63;
    color: white;
    border-radius: 30px;
}

.pokemon {
    width: 100%;
    height: 600px;
    background-color: #FCE372;
    border-radius: 40px;
    margin: auto;  
}

@media only screen and (min-width: 960px) {
    .wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    footer, .footer{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #F85874;
        text-align: center;
        padding-top: 5pt;
        padding-bottom: 5pt;
    }
}

@media only screen and (min-width: 1280px) {
    .wrapper {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media only screen and (min-width: 1400px) {
    .wrapper{
        padding-left: 20%;
        padding-right: 20%;
    }
}
